backports.ssl-match-hostname==3.7.0.1  # via tornado
certifi==2021.5.30        # via tornado
pymongo==3.6.1            # via -r requirements.in
tornado==4.2.1            # via -r requirements.in
twisted==16.0.0           # via -r requirements.in
zope.interface==5.4.0     # via twisted

# The following packages are considered to be unsafe in a requirements file:
# setuptools
